# Archivos y directorios generados por CMake
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile

# Archivos de compilación
**/*.o
**/*.obj
**/*.so
**/*.exe
**/*.dll
**/*.out

# Archivos de configuración de IDE
**/.idea/
**/.vscode/

# Directorios de construcción
**/cmake-build-debug/

# Ignorar archivos generados por LaTeX en cualquier carpeta
**/*.aux
**/*.bbl
**/*.blg
**/*.brf
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.toc
**/*.lof
**/*.lot
**/*.synctex.gz
**/*.nav
**/*.snm
**/*.vrb

# Archivos temporales
**/*~
**/*.bak
**/*.tmp
